<% layout('layout/boilerplate') %> 
<div class="row">
    <h1 class="text-center">New Food</h1>
    <div class="col-6 offset-3">
        <form action="/foods" method="post" novalidate class="formvalidations" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
            <input type="text" class="form-control" name="food[title]" id="title" placeholder="title of food" required>
            <div class="valid-feedback">
                Looks Good
            </div> </div>
            <div class="mb-3">
                <label class="form-label" for="restaurant">Restaurant Name</label>
                <input  type="text" class="form-control" id="restaurant" name="food[restaurant]" placeholder="restaurant name" required>
            <div class="valid-feedback">
                Looks Good
            </div></div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input type="text" class="form-control" id="location" name="food[location]" placeholder="location" required>
            <div class="valid-feedback">
                Looks Good
            </div> </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image</label>
            <!-- <input type="text"class="form-control" name="food[image]" id="image" placeholder="title of food" required> -->
                <input type="file" name="image" id="image" placeholder="upload image" multiple required>
            <div class="valid-feedback">
                Looks Good
            </div> </div>
            <div class="mb-3">
                <label class="form-label" for="price">Price</label>    
                <div class="input-group mb-3">
                <span class="input-group-text" id="price-label">₹</span>
                    <input type="text" class="form-control" name="food[price]" placeholder="price" aria-label="price" aria-describedby="price-label" required>
                    <div class="valid-feedback">
                        Looks Good
                    </div> </div>
                </div>
           
            
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" id="description" name="food[description]" type="text" placeholder="description" rows="3" required></textarea>
            <div class="valid-feedback">
                Looks Good
            </div> </div>
            <div class="mb-3">
                <button class="btn btn-success"> Add Food</button>
            </div>
            </form>
    </div>
</div>

